<!DOCTYPE html>
<ion-scroll direction="y" class="control-scroll">
  <div class="gantry">
    <div class="card">
      <div class="item gantry-visual row">
        <img class="gantry-img col-15" src="./assets/bot_img/gantry_low.png" alt="" />
        <div class="col"></div>
        <img class="gantry-img col-15" src="./assets/bot_img/gantry_high.png" alt="" />
        <!-- <i class="icon ion-volume-low"></i> -->
        <!-- <i class="icon ion-volume-high"></i> -->
      </div>
      <div class="range">
        <input type="range" name="volume">
      </div>
    </div>
  </div>
</ion-scroll>
