<!DOCTYPE html>

<div ng-if="recipeCtrl.show === 0" class="card">
  <ion-toggle ng-model="showall" ng-init="showall=false" toggle-class="toggle-default">
    {{showall?'Show missing':'Show all'}}
  </ion-toggle>

  <ion-list>

    <ion-checkbox ng-repeat="i in recipeCtrl.content.ingredients | orderBy:'-'" ng-model="checked" ng-change="recipeCtrl.stateChanged(checked)" ng-show="showall||!checked">
      <div class="item item-text-wrap item-avatar">
        <img class="card-image" ng-src="{{i.img}}" alt="" />
        <h2><b>{{i.name}}</b></h2>
        <p class="item-note">
          {{i.quantity}}
        </p>
      </div>
    </ion-checkbox>

    <button class="button button-positive button-large button-full" ng-disabled="recipeCtrl.nextStep!==recipeCtrl.content.ingredients.length" ng-click="recipeCtrl.toNextStage()">
      Next step : Tools <i class="icon ion-chevron-right"></i>
    </button>
  </ion-list>
</div>
