<!DOCTYPE html>
<div ng-if="recipeCtrl.show === 1" class="card">
  <ion-toggle ng-model="showall" ng-init="showall=false" toggle-class="toggle-default">
    {{showall?'Show missing':'Show all'}}
  </ion-toggle>

  <ion-list>
    <ion-checkbox
      ng-repeat="i in recipeCtrl.content.tools | orderBy:'-'"
      ng-model="checked"
      ng-change="recipeCtrl.stateChanged(checked)"
      ng-show="showall||!checked">
      <div class="item item-avatar item-text-wrap">
        <img class="card-image" ng-src="{{i.img}}" alt="" />
        <b>{{i.name}}</b>
      </div>
      <!-- <div class="item image">

      </div> -->
    </ion-checkbox>

    <button class="button button-assertive button-large button-full" ng-disabled="recipeCtrl.nextStep!==recipeCtrl.content.tools.length" ng-click="recipeCtrl.toNextStage()">
      Let's cook! <i class="icon ion-chevron-right"></i>
    </button>
  </ion-list>
</div>
